- tag_snaked = tag.downcase.gsub(' ', '_')
.carousel{id: tag_snaked}
  %h3.carousel_header{class: tag_snaked}
    = tag
  - if type == :vendor
    - if list
      - list[0..14].each do |vendor|
        - if vendor.picture.present?
          = render 'carousel_element', type: 'vendor', item: vendor, item_path: vendor_path(vendor.id), tag_snaked: tag_snaked
              
  - if type == :product
    - if list
      - list[0..14].each do |product|
        - if product.picture.present?
          = render 'carousel_element', type: 'product', item: product, item_path: product_path(product.id), tag_snaked: tag_snaked

